<header class="header">
  <div class="clearfix nav_wrapper">
    <li><a href="/murmurs/top">Home</a></li>
    <li><a href="/murmurs">つぶやいたこと</a></li>
    <li><a href="/murmurs/new">もっとつぶやく</a></li>
  </div>
   
</header>