<html>
<body>
<div class=container>
  <%= render 'header' %>
  <div>
    <p class=title>twitter cloneのtopページ</p>
    
    <div class=top_table>
      <p class=sub_title>このアプリケーションでできること</p>
      <table>
        <tr>
          <td class=table_title>ツイート</td>
          <td class=table_content>：1〜140文字以内でつぶやけます。</td>
        </tr>
        <tr>
          <td class=table_title>ツイートの編集</td>
          <td class=table_content>：本家にはない編集機能付き<td>
        </tr>
        <tr>
          <td class=table_title>ツイートの削除</td>
          <td class=table_content>：消せます。</td>
        </tr>
      </table>
    </div>
  </div>
  <%= render "footer" %>
</div>
</body>
</html>